# Python-specific ignores
__pycache__/
*.py[cod]
*.egg
*.egg-info/
.eggs/

# Virtual environment
venv/
env/
.env/
.venv/

# Jupyter Notebooks
.ipynb_checkpoints/

# VS Code settings
.vscode/

# MacOS-specific files
.DS_Store

# Logs and databases
*.log
*.sqlite3

# Ignore all .pkl files
*.pkl

# Ignore all files inside the pickle folder
pickle/*

# keep pickle as empty folder
!pickle/
!pickle/.gitkeep


